{% extends 'base.html.twig' %}

{% block title %}Assigner des Matières au Stage{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Assigner des Matières au Stage : "{{ stage.titre }}"</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary mt-3">Enregistrer</button>
        {{ form_end(form) }}

        <a href="{{ path('home') }}" class="btn btn-secondary mt-3">Retour à la Liste des Stages</a>
    </div>
{% endblock %}
